.btn-css {
    width:100px;
    margin-left:10px;
    height: 41px;

}

.btn-distance{
    margin-left:10px;
    width:132px
}


.btn-a{
    margin-left:10px;
    width:100px;
    height: 41px;
    padding-top: 10px;
}

.btn-b{
    margin-left:10px;
    width:100px;
    height: 41px;
    padding-top: 10px;
}

.btn-c{
    margin-left:5px;
    width:110px
}